# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse stuff
.project
.cproject
.settings/

# Other stuff
*.json
*.yaml
build/*
*.idea

# Run files
*/FixedHPP.par
*/FixedHPP.tsp
*/LKH_output.dat
*/LKH_run-output.txt
*/WSN_TSP.par
*/WSN_TSP.tsp
*/ilo_improvement.dat
*/qp_improvement.dat


# CMake
CMakeLists.txt 


# Python Virtual Env
myenv/

#Cached Stuff
.cache/*

#Random Run info 
test/run/*

temp/* 